* {
  color: azure;
}

body {
  display: flex;
  flex-flow: column;
  background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h3 {
  text-align: center;
  margin: 10px;
}

img {
  object-fit: fill;
  width: 200px;
  height: 200px;
}

.buttons-container {
  justify-content: center;
  margin: 10px auto;
}

.buttons {
  margin: 0 10px;
}

.game {
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.scores {
  display: flex;
  justify-content: center;
  column-gap: 200px;
}

.choices {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

tr,
td {
  width: 200px;
  border: 3px solid azure;
}

td {
  padding: 30px;
}

.game-scores-div {
  margin: 0;
  padding: 0;
}

.result {
  margin: 16px;
  text-align: center;
  font-size: 32px;
  color: red;
}
